/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { ArenaCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { ArenaError } from "../models/errors/arena-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List streams.
 *
 * @remarks
 * This API returns the streams that belong to the transmitter.
 *
 * Search criteria can be specified using query parameters when calling the
 * API. For example, if the `status=enabled` query parameter is provided, only
 * streams whose status is `enabled` are returned; streams whose status is
 * `paused` or `disabled` are excluded from the response. Similarly, if the
 * `created_at_ge=2026-01-01T12:00:00` query parameter is specified, only
 * streams created on or after "2026-01-01 12:00:00 (UTC)" are returned.
 * Multiple search criteria can be combined.
 *
 * The `limit` query parameter specifies the maximum number of streams
 * included in the response. If this parameter is omitted, the default value
 * of `50` is used. The value of `limit` must be between `1` and `200`,
 * inclusive.
 *
 * If additional matching streams remain, the API response includes the
 * `next_cursor` response parameter. By specifying its value as the `cursor`
 * query parameter in the next API call, you can retrieve the next page of
 * streams starting from the position indicated by the cursor. Therefore, by
 * repeatedly calling the API with the `next_cursor` value returned in the
 * previous response as the value of the `cursor` query parameter, until the
 * response no longer contains `next_cursor`, you can retrieve all matching
 * streams.
 *
 * If the `cursor` query parameter is included in an API call, all query
 * parameters that specify search criteria are ignored. The cursor preserves
 * the search criteria specified in the initial API call, so there is no need
 * to specify them again. Note, however, that the `limit` query parameter is
 * not considered a search criterion and can therefore be used together with
 * the `cursor` query parameter.
 */
export function getSsfTransmitterTransmitterIdStreamList(
  client: ArenaCore,
  request: operations.GetSsfTransmitterTransmitterIdStreamListRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetSsfTransmitterTransmitterIdStreamListResponse,
    | errors.GetSsfTransmitterTransmitterIdStreamListNotFoundError
    | ArenaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: ArenaCore,
  request: operations.GetSsfTransmitterTransmitterIdStreamListRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetSsfTransmitterTransmitterIdStreamListResponse,
      | errors.GetSsfTransmitterTransmitterIdStreamListNotFoundError
      | ArenaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .GetSsfTransmitterTransmitterIdStreamListRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    transmitter_id: encodeSimple("transmitter_id", payload.transmitter_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/ssf/transmitter/{transmitter_id}/stream/list")(
    pathParams,
  );

  const query = encodeFormQuery({
    "client_id": payload.client_id,
    "created_at_ge": payload.created_at_ge,
    "created_at_lt": payload.created_at_lt,
    "cursor": payload.cursor,
    "limit": payload.limit,
    "pretty": payload.pretty,
    "status": payload.status,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
    "x-fapi-interaction-id": encodeSimple(
      "x-fapi-interaction-id",
      payload["x-fapi-interaction-id"],
      { explode: false, charEncoding: "none" },
    ),
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "get_/ssf/transmitter/{transmitter_id}/stream/list",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.GetSsfTransmitterTransmitterIdStreamListResponse,
    | errors.GetSsfTransmitterTransmitterIdStreamListNotFoundError
    | ArenaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      operations.GetSsfTransmitterTransmitterIdStreamListResponse$inboundSchema,
      { hdrs: true, key: "Result" },
    ),
    M.jsonErr(
      404,
      errors
        .GetSsfTransmitterTransmitterIdStreamListNotFoundError$inboundSchema,
      { hdrs: true },
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
